doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        types:
            event_id: App\Infrastructure\Persistence\Doctrine\Type\EventIdType
            match_id: App\Infrastructure\Persistence\Doctrine\Type\MatchIdType
            team_id: App\Infrastructure\Persistence\Doctrine\Type\TeamIdType
            player_id: App\Infrastructure\Persistence\Doctrine\Type\PlayerIdType
            minute: App\Infrastructure\Persistence\Doctrine\Type\MinuteType

    orm:
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: false
        mappings:
            Domain:
                type: xml
                is_bundle: false
                dir: '%kernel.project_dir%/config/doctrine/entity'
                prefix: 'App\Domain\Entity'
                alias: Domain

when@test:
    doctrine:
        dbal:
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
